SUBSYSTEM=="input", MODE="666"
SUBSYSTEMS=="input", ATTRS{name}=="sunxi-ir", SYMLINK+="input/infrared"
SUBSYSTEMS=="input", ATTRS{name}=="sunxi-cir", SYMLINK+="input/infrared"
SUBSYSTEMS=="input", ATTRS{name}=="gpio_ir_recv", SYMLINK+="input/infrared"
