[Unit]
Description=DAC Master Control Program
After=mpd.service network-online.target

[Service]
Type=simple
User=hje
RuntimeDirectory=mcp
ExecStart=/usr/local/bin/mcp
ExecStartPre=cp /tmp/mcp/pstate-minutes.csv /run/mcp
#ExecStartPre=/usr/bin/ir-keytable -c -w /etc/rc_keymaps/universum
#ExecStartPre=/usr/bin/ir-keytable -p rc-5 -s rc0 -c -w /etc/rc_keymaps/universum

[Install]
WantedBy=multi-user.target
