[Unit]
Description=DAC Master Control Program
After=mpd.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/mcp
ExecStartPre=-/usr/bin/ir-keytable -p rc-5 -s rc0 -c -w /etc/rc_keymaps/universum

[Install]
WantedBy=multi-user.target
