@font-face{font-family:Roboto;src:url(fonts/Roboto-Light.6d2d51951f189f7f.ttf) format("truetype");font-weight:300;font-style:normal}
@font-face{font-family:Roboto;src:url(fonts/Roboto-Regular.6d220b904eef61e1.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:Roboto;src:url(fonts/Roboto-Medium.50e73d0c201f239d.ttf) format("truetype");font-weight:500;font-style:normal}
@font-face{font-family:Roboto;src:url(fonts/Roboto-Bold.015f3ac44f081e28.ttf) format("truetype");font-weight:700;font-style:normal}
@font-face{font-family:Roboto;src:url(fonts/Roboto-Black.64c342ce0a2472b7.ttf) format("truetype");font-weight:900;font-style:normal}

body, html { 
	font-family: Roboto,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.0;
	padding: 0;
	margin: 0;
	color: #3b3b3d;
}

.flex-row	 				{ margin:0; padding:0; display:flex; flex-direction:row }
.flex-column 				{ margin:0; padding:0; display:flex; flex-direction:column }

.devices					{ margin-top:10px }

dl .d						{ background:gainsboro; color:gray }
dl .z						{ background:silver }
dl .p						{ background:skyblue }

dl dd.akku .p				{ background:palegreen }
dl dd.akku .m				{ background:orangered }

dl dd						{ margin:0 3px 0 0; border:1px solid lightgrey; cursor:pointer }
dl dd.d						{ cursor:default }

/* desktop */
@media (max-width: 2000px) {
	.page					{ display:flex; flex-direction:row-reverse; margin-right:10px }
	.powerflow				{ width:480px; position:fixed }
	iframe					{ width:100%; height:480px }
	.mosmix					{ overflow:scroll; position:relative; left:-490px }
	.svg					{ max-width:1420px }
	
	dl 						{ }
	dl dd					{ position:relative; width:35px; height:120px }
	dl dd .bar				{ position:absolute; bottom:0px; width:35px; display:block }
	dl dd .load				{ position:relative; top:100px; text-align:center }
	dl dd .name				{ position:relative; left:10px; writing-mode:sideways-rl;  z-index:+1 }
}

/* laptop */
@media (max-width: 1400px) {
	.page					{ display:flex; flex-direction:row-reverse; margin-right:10px }
	.powerflow				{ width:480px; position:unset }
	iframe					{ width:100%; height:480px }
	.mosmix					{ overflow:scroll; position:relative; left:0 }
	.svg					{ max-width:880px }

	dl 						{ }
	dl dd					{ position:relative; width:35px; height:100px }
	dl dd .bar				{ position:absolute; bottom:0px; width:35px; display:block }
	dl dd .load				{ position:relative; top:80px; text-align:center }
	dl dd .name				{ position:relative; left:10px; writing-mode:sideways-rl;  z-index:+1 }
}

/* mobile */
@media (max-width: 1000px) {
	.page					{ display:flex; flex-direction:column; margin-right:0; align-items:center }
	iframe					{ width:100%; height: 940px }
	.powerflow				{ width:100%; position:relative }
	.state					{ font-size:32px; margin:10px 5px }
	.devices				{ margin:10px 7px }
	.mosmix					{ position:relative; left:0 }
	.svg					{ max-width:1000px }

	dl 						{ font-size:32px }
	dl dd					{ position:relative; width:75px; height:300px; margin:0 5px 0 0 }
	dl dd .bar				{ position:absolute; bottom:0px; width:75px; display:block }
	dl dd .load				{ position:relative; top:250px; text-align:center }
	dl dd .name				{ position:relative; left:22px; writing-mode:sideways-rl;  z-index:+1 }
}

.lv							{ margin:2px; padding:4px 6px; background-color:lightgrey }
.l							{ display:inline-flex }
.v							{ display:block; float:right }
.u							{ display:block; float:right }

.pstate						{ width:33.3% }
.gstate						{ width:33.3% }
.dstate						{ width:33.3% }

.pv-p						{ background-color:#FAD967 }
.grid-p						{ background-color:orangered }
.grid-m						{ background-color:palegreen }
.akku-p						{ background-color:#FEAD00 }
.akku-m						{ background-color:palegreen }
.load-p, .load-m			{ background-color:skyblue }
.cload-p, .cload-m			{ background-color:skyblue }
.rload-p, .rload-m			{ background-color:skyblue }
.mp1-p						{ background-color:#FAD967 }
.mp2-p						{ background-color:#FAD967 }
.mp3-p						{ background-color:#FAD967 }
.mp4-p						{ background-color:#FAD967 }
.surp-p						{ background-color:turquoise }
.ramp-p						{ background-color:aquamarine }
.ramp-m						{ background-color:lightsalmon }
.steal-p					{ background-color:cyan }

.pv-p						{ background-color:#FAD967 }
.↓grid-p					{ background-color:lightsalmon }
.↑grid-p					{ background-color:palegreen }
.today-p					{ background-color:lightgrey }
.tomo-p						{ background-color:lightgrey }
.eod-p						{ background-color:lightgrey }

.noise						{ background-color:lightgrey }
